.app {
  background: #079f41;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #fb5e5e;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fb5e5e;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
